# Файлы окружения Poetry и Python
.venv/
venv/
*.pyc
__pycache__/

# Временные файлы VS Code
.vscode/

# Папка для временных аудио
temp_audio/

# Логи и базы данных
*.log
*.sqlite3

# Системные файлы macOS
.DS_Store